{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set title = 'DashCols' | t %}

{% block content %}

	<div class="dashCols-sectionInfo">
		<h2 class="dashCols-sectionTitle">{{ section.name }}</h2>
	</div>

	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout : layout.getFieldLayout(),
			customizableTabs : false,
			pretendTabName : 'Columns' | t
		} only %}

		<hr />

		{% if hiddenFields is defined %}
		<h3>Hide/show default fields</h3>
		<div class="dashCols-defaultFields">
			{% for hiddenFieldKey,hiddenFieldValue in hiddenFields %}
			<div class="dashColds-defaultField">
				{{ forms.lightswitch({
					id: hiddenFieldKey,
					name: 'hiddenFields[' ~ hiddenFieldKey ~ ']',
					on : hiddenFieldKey in layout.hiddenFields ? false : true,
				}) }}
				<label for="{{ hiddenFieldKey }}">{{ hiddenFieldValue }}</label>
			</div>
			{% endfor %}
		</div>
		<hr />
		{% endif %}

		<div class="dashCols-buttons">
			<input type="submit" class="btn submit" value="{{ 'Save' | t }}" />
		</div>

		<input type="hidden" name="action" value="dashCols/layouts/saveLayout">
		{% if sectionId is defined %}
			<input type="hidden" name="sectionId" value="{{ sectionId }}" />
			<input type="hidden" name="redirect" value="{{ url( 'dashcols/layouts/section/' ~ section.handle ) }}" />
		{% elseif categoryGroupId is defined %}
			<input type="hidden" name="categoryGroupId" value="{{ categoryGroupId }}" />
			<input type="hidden" name="redirect" value="{{ url( 'dashcols/layouts/category-group/' ~ section.handle ) }}" />
		{% elseif listingHandle is defined %}
			<input type="hidden" name="listingHandle" value="{{ listingHandle }}" />
			<input type="hidden" name="redirect" value="{{ url( 'dashcols/layouts/listing/' ~ listingHandle ) }}" />
		{% endif %}
		{% if layout.id %}<input type="hidden" name="layoutId" value="{{ layout.id }}" />{% endif %}

	</form>

{% endblock %}