{% extends '_layouts/cp' %}

{% set title = craft.dashCols.getPluginName | t %}
{% set selectedTab = 'dashColsIndex' %}

{% set content %}

	{% if craft.dashCols.isCraftRequiredVersion == false %}
		
		<p class="error">Sorry, you need to run Craft {{ craft.dashCols.requiredCraftVersion }} or newer to use DashCols.<br/><strong>Please update your Craft installation.</strong></p>
		
	{% else %}

		<section id="dashCols-entries" class="dashCols-cpIndexSection">

			<h2>{{ 'Entries' | t }}</h2>

			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<tbody>
					<tr data-name="{{ 'All entries'|t }}">
						<th scope="row" data-title="{{ 'All entries' | t }}">
							<a href="{{ url( 'dashcols/entries' ) }}">{{ 'All entries' | t }}</a>
						</th>
					</tr>
					<tr data-name="{{ 'Singles'|t }}">
						<th scope="row" data-title="{{ 'Singles' | t }}">
							<a href="{{ url( 'dashcols/entries/singles' ) }}">{{ 'Singles' | t }}</a>
						</th>
					</tr>
				</tbody>
			</table>

			{% if channels %}
			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<tbody>
					<thead>
						<th scope="col">{{ 'Channels' | t }}</th>
					</thead>
					{% for channel in channels %}
					<tr data-id="{{ channel.id }}" data-name="{{ channel.name }}">
						<th scope="row" data-title="{{ channel.name }}">
							<a href="{{ url( 'dashcols/entries/section/' ~ channel.handle ) }}">{{ channel.name | t }}</a>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

			{% if structures %}
			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<tbody>
					<thead>
						<th scope="col">{{ 'Structures' | t }}</th>
					</thead>
					{% for structure in structures %}
					<tr data-id="{{ structure.id }}" data-name="{{ structure.name }}">
						<th scope="row" data-title="{{ structure.name }}">
							<a href="{{ url( 'dashcols/entries/section/' ~ structure.handle ) }}">{{ structure.name | t }}</a>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}

		</section>

		<hr />

		{% if categoryGroups %}

		<section id="dashCols-categories" class="dashCols-cpIndexSection">

			<h2>{{ 'Categories' | t }}</h2>

			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<thead>
					<th scope="col">{{ 'Category groups' | t }}</th>
				</thead>
				<tbody>
					{% for categoryGroup in categoryGroups %}
					<tr data-id="{{ categoryGroup.id }}" data-name="{{ categoryGroup.name }}">
						<th scope="row" data-title="{{ categoryGroup.name }}">
							<a href="{{ url( 'dashcols/categories/' ~ categoryGroup.handle ) }}">{{ categoryGroup.name | t }}</a>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</section>

		<hr />

		{% endif %}

		{% if assetSources %}

		<section id="dashCols-assets" class="dashCols-cpIndexSection">

			<h2>{{ 'Assets' | t }}</h2>

			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<thead>
					<th scope="col">{{ 'Asset sources' | t }}</th>
				</thead>
				<tbody>
					{% for assetSource in assetSources %}
					<tr data-id="{{ assetSource.id }}" data-name="{{ assetSource.name }}">
						<th scope="row" data-title="{{ assetSource.name }}">
							<a href="{{ url( 'dashcols/assets/' ~ assetSource.handle ) }}">{{ assetSource.name | t }}</a>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</section>

		<hr />

		{% endif %}

		<section id="dashCols-users" class="dashCols-cpIndexSection">

			<h2>Users</h2>

			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<tbody>
					<tr data-name="{{ 'All users' | t }}">
						<th scope="row" data-title="{{ 'All users' | t }}">
							<a href="{{ url( 'dashcols/users' ) }}">{{ 'All Users' | t }}</a>
						</th>
					</tr>
				</tbody>
			</table>

			{% if userGroups %}
			<table class="data fullwidth collapsible dashCols-layoutGroupTable">
				<tbody>
					<thead>
					<th scope="col">{{ 'User groups' | t }}</th>
				</thead>
					{% for userGroup in userGroups %}
					<tr data-id="{{ userGroup.id }}" data-name="{{ userGroup.name }}">
						<th scope="row" data-title="{{ userGroup.name }}">
							<a href="{{ url( 'dashcols/users/' ~ userGroup.handle ) }}">{{ userGroup.name | t }}</a>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			{% endif %}

		</section>

		<hr />

	{% endif %}

	{% include 'dashcols/_partials/_footer.twig' %}

{% endset %}