<footer id="dashCols-colophone">
	<p>{{ craft.dashCols.getPluginName }} v. {{ craft.dashCols.version }} • <a href="{{ url('dashcols/about') }}">About</a> • <a href="{{ url('settings/plugins/dashcols') }}">Settings</a> • <a href="{{ craft.dashCols.getPluginUrl }}">GitHub</a></p>
</footer>