{% extends '_layouts/cp' %}

{% set title = craft.dashCols.getPluginName | t %}
{% set tabs = craft.dashCols.getCpTabs %}
{% set selectedTab = 'about' %}

{% block content %}

	<div class="dashCols-aboutPage">

		<h2 class="dashCols-title">{{ 'About DashCols' | t }} <strong class="dashCols-version">v. {{ craft.dashCols.version }}</strong></h2>

		<p><em>{{ 'DashCols makes it easy to include your custom fields in element index tables.' | t }}</em></p>

		<p><a href="{{ craft.dashCols.getPluginUrl }}">{{ craft.dashCols.getPluginUrl }}</a></p>

		<hr />

		<section>

			<h3 class="dashCols-title">{{ 'Supported fields' | t }}</h3>

			<table id="dashCols-supportedFields" class="data fullwidth collapsible">
				<thead>
					<th scope="col">{{ 'Field type' | t }}</th>
				</thead>
				<tbody>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/categories-fields" class="go">Categories</a>
						</td>
						<td class="desc">Outputs as a comma-separated list</td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/checkboxes-fields" class="go">Checkboxes</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/color-fields" class="go">Color</a>
						</td>
						<td class="desc">Outputs as a colored rectangle</td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/date-time-fields" class="go">Date/time</a>
						</td>
						<td class="desc">Outputs date and/or time based on field settings</td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/dropdown-fields" class="go">Dropdown</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/entries-fields" class="go">Entries</a>
						</td>
						<td class="desc">Outputs as a comma-separated list</td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/lightswitch-fields" class="go">Lightswitch</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/multi-select-fields" class="go">Multi-select</a>
						</td>
						<td class="desc">Selected values output as a comma-separated list</td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/number-fields" class="go">Number</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/plain-text-fields" class="go">Plain Text</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/position-select-fields" class="go">Position Select</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/radio-buttons-fields" class="go">Radio Buttons</a>
						</td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/tags-fields" class="go">Tags</a>
						</td>
						<td class="desc">Outputs as a comma-separated list</td>
					</tr>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/users-fields" class="go">Users</a>
						</td>
						<td class="desc">Outputs as a comma-separated list</td>
					</tr>
				</tbody>
			</table>

			<br />

			<h3 class="dashCols-title">Partially supported fields</h3>

			<table id="dashCols-supportedFields" class="data fullwidth collapsible">
				<thead>
					<th scope="col">{{ 'Field type' | t }}</th>
				</thead>
				<tbody>
					<tr>
						<td width="25%">
							<a href="http://buildwithcraft.com/docs/assets-fields" class="go">Assets</a>
						</td>
						<td class="desc">DashCols will only display the first Asset in a field in full (thumbnail if image, icon + filename if file), in addition to the the total filecount (if more than 1 Asset in field)</td>
					</tr>
				</tbody>
			</table>

			<br />

			<h3 class="dashCols-title">Unsupported fields</h3>

			<table id="dashCols-supportedFields" class="data fullwidth collapsible">
				<thead>
					<th scope="col">{{ 'Field type' | t }}</th>
				</thead>
				<tbody>
					<tr>
						<td width="25%"><a href="http://buildwithcraft.com/docs/matrix-fields" class="go">Matrix</a></td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%"><a href="http://buildwithcraft.com/docs/rich-text-fields" class="go">Rich Text</a></td>
						<td class="desc"></td>
					</tr>
					<tr>
						<td width="25%"><a href="http://buildwithcraft.com/docs/table-fields" class="go">Table</a></td>
						<td class="desc"></td>
					</tr>
				</tbody>
			</table>

			<br />

			<h3 class="dashCols-title">Custom FieldTypes</h3>

			<p>Please note that while <strong>any</strong> attribute of <em>String value</em> will output, you're currently on your own regarding custom FieldTypes.</p>

		</section>

		<hr />

		<section>

			<h3 class="dashCols-title">{{ 'Changelog' | t }}</h3>

			<h5>Version 1.2.3 - 06.03.15</h5>
			<ul>
				<li>SVG assets now display as thumbnails for Craft 2.4 builds (only where ImageMagick is installed)</li>
			</ul>

			<h5>Version 1.2.2 - 04.20.15</h5>
			<ul>
				<li>Fixed bug where the _Structure_ sorting option was hidden</li>
			</ul>

			<h5>Version 1.2.1 – 10.04.15</h5>
			<ul>
				<li><strong>Added Entry Type metadata column</strong></li></li>
			</ul>

			<h5>Version 1.2 – 06.04.15</h5>
			<ul>
				<li><strong>Added sorting capabilities for FieldTypes of Boolean, String, Number or DateTime value</strong></li>
			</li>

			<h5>Version 1.1.9 – 04.03.15</h5>
			<ul>
				<li><strong>Added option to output element metadata (Updated Date, ID and Author) as columns</strong></li>
				<li>Fixed issue where string values "1" and "0" would always render as a Lightswitch attribute – thanks Fred, you're a champ.</li>
				<li>Fixed issue where string values starting with "#" would sometimes render as a Color attribute</li>
				<li>String values interpreted as external links will now open in a new tab</li>
				<li>Added setting for renaming <em>DashCols</em></li>
			</li>

			<h5>Version 1.1.8 - 03.06.15</h5>
			<ul>
				<li><em>Asset</em> columns will now display total number of files (if more than 1)</li>
				<li><em>Asset</em> columns now display icon + filename for files.</li>
			</ul>

			<h5>Version 1.1.7 - 02.25.15</h5>

			<ul>
				<li>Fixed issue where layouts would not save if CSRF is enabled</li>
			</ul>

			<h5>Version 1.1.6 - 02.23.15</h5>

			<ul>
				<li>Minor refactor</li>
			</ul>

			<h5>Version 1.1.5 - 02.23.15</h5>

			<ul>
				<li>Fixed issue where the Edit Columns button would not be added to non-managed index tables</li>
				<li>Date/Time columns now display date and/or time based on field settings</li>
			</ul>

			<h5>Version 1.1.4 - 02.13.15</h5>
			<ul>
				<li>Added settings page and the <em>Undercover mode</em> setting to hide the CP section and disable layout editing</li>
			</ul>

			<h5>Version 1.1.3 – 02.13.15</h5>
			<ul>
				<li>Fixed issue w/ redirect on All entries layout save</li>
				<li>Edit template only displays relevant default fields</li>
				<li>Removed editing for individual Single sections</li>
				<li>Added footer CP section footer</li>
			</ul>

			<h5>Version 1.1.2 – 02.12.15</h5>
			<ul>
				<li>Fixed issue w/ 404 for Singles listing redirect on save</li>
			</ul>

			<h5>Version 1.1.1 – 02.12.15</h5>
			<ul>
				<li>Hotfixed an annoying issue w/ move icons not being vertically centered in tall table rows</li>
			</ul>

			<h5>Version 1.1 – 02.12.15</h5>
			<ul>
				<li>Added option to hide default fields (postDate, expiryDate, URI and section)</li>
				<li>(Hopefully) improved CP section sub nav</li>
				<li>DashCols now redirects to index table upon saving a layout</li>
				<li>Some minor CSS fixes here and there</li>
			</ul>

			<h5>Version 1.0 – 02.08.15</h5>
			<p><em>Initial public release</em></p>

		</section>

		<hr />

		<section>

			<h3 class="dashCols-title">{{ 'Roadmap' | t }}</h3>

			<p>Look for the following in future updates:</p>

			<ul>
				<li>Sorting/ordering options</li>
				<li>Support for User tables</li>
				<li>Inline editing of sections/listings/category groups</li>
				<li>Option to clear a layout w/ a single button</li>
				<li>Optional output of element metadata</li>
			</ul>

			<p><em>Unfortunately, I can offer no ETA on any of these additions.</em></p>

		</section>

		<hr />

		<section>
			<h3 class="dashCols-title">{{ 'Disclaimer' | t }}</h3>

			<p>DashCols is provided free of charge. The author is not responsible for any data loss or other problems resulting from the use of this plugin.</p>

			<p>Please report any bugs, feature requests or other issues <a href="{{ craft.dashCols.getPluginUrl }}">here</a>. As DashCols is a hobby project, no promises are made regarding response time, feature implementations or bug amendments.</p>

			<p><strong>Pull requests are very welcome!</strong></p>
		</section>

	</div>

	{% include 'dashcols/_partials/_footer.twig' %}

{% endblock %}